<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/header.css">
    <link rel="stylesheet" href="styles/footer.css">
    <link rel="stylesheet" href="styles/producto.css">
</head>

<body>
    <header class="barra">

        <div class="barra__logo">
            <img class="logo" src="imagenes/logo.png">
        </div>

        <div class="barra__icono">
            <img alt="Icono" src="imagenes/iconos/bars.svg">
        </div>

        <div class="barra__navegador">
            <a href="/">Home</a>
            <a href="#">¿Quienes somos?</a>
            <a class="barra__navegador-activo" href="/tienda">Tienda</a>
            <a href="#">¡Aprende!</a>
            <input type="text" placeholder="¿Que estas buscando?">
        </div>
    </header>

    <section class="producto">
        {{#each producto}}
        <article class="producto__caption">
            <h1>{{name}}</h1>

            <article class="imagen">
                <div class="imgContesp">
                    <img id="grand" src="{{imagenes.[0]}}" alt="{{nombre}}">
                </div>
                <div class="imgsVerticales">
                    <div class="imgCont">
                        <img id="pe0" src="{{imagenes.[1]}}" alt="{{nombre}}">
                    </div>
                    <div class="imgCont">
                        <img id="pe2" src="{{imagenes.[2]}}" alt="{{nombre}}">
                    </div>
                    <p>Tamaño: {{tamaño}}   Textura: {{Textura}}</p>
                </div>
            </article>

            <h3>Descripción</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus distinctio itaque saepe nesciunt eveniet accusamus velit dolores, esse quidem eius ad fugit consequatur perferendis laborum, inventore laboriosam voluptas minima. Quis.</p>
            <p>Precio: ${{precio}}</p>

            <button class="btnAgregar" data-name="{{name}}">Agregar al carrito</button>

        </article>
        {{/each}}
    </section>

</body>
<script>
    document.querySelector(".btnAgregar").addEventListener('click', function () {
        var name = document.querySelector(".btnAgregar").getAttribute('data-name');
        fetch(`/api/AgregarAlCarrito`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `nombre=${name}`,
        }).then(function (respuesta) {
            return respuesta.text();
        }).catch(function (error) {
            console.error(error);
        }).then(function (mensaje) {
            console.log(mensaje);
        });
        window.location.href = "/carrito";
    }
    );

    document.querySelector('#pe0').addEventListener('click', ()=> {
        document.querySelector('#grand').src = document.querySelector('#pe0').src;
    });
    document.querySelector('#pe2').addEventListener('click', ()=> {
        document.querySelector('#grand').src = document.querySelector('#pe2').src;
    });
</script>
</html>